//colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752f97;
$negro: #000000;
$blanco: #FFFFFF;

//fuentes
$fuentePrincipal: 'Montserrat', sans-serif;
$think: 300;
$medium: 400;
$bold: 700;
$black: 900;

//mediaQueries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

//separaciones
$separacion: 5rem;